 
.topnav{                  /* Used in header navbar*/
    background-color: rgb(16, 16, 65);
    color: white;
    padding: 3px;
}

.topnavdrop{                  /* Used in header navbar dropdown*/
    background-color: rgb(16, 16, 65);
 
    color: white;
    padding: 3px;
}
.h1-text{                  /* Used in  section text*/
    color: rgb(22, 22, 90);
    font-size:65px;
    font-style:bold;
    
}
 
.h1-text2{                  /* Used in  section text*/
    color: White;
    font-size:80px;
    font-style:bold;
    
}
   .bg{
    background-color: rgb(16, 16, 65);
    color:white;
   }
   .img1{
    width:18%;
    height:18%;
}
   .img{
    width:20%;
    height:20%;
}
 
.section2{                  /* Used in section of videos*/
    background-color: rgb(236, 230, 230);
    
}
.w-100{                  /* Used in sliders*/
    height:500px;
    
 
}  

.aws{                 /*using in awsome fonts*/
    font-size:35px;
    padding: 15px;
    color:white;
    
  }
  
.p2{                         /*using in awsome fonts*/
    font-size:20px;
    padding: 20px;
    color:white;
    
  }
@media only screen and (max-width: 600px) {
    .w-100{                  /* Used in slider mobile screen*/
        height:250px;
     
    } 
     
    .heading{                  /* Used in header image mobile width*/
        width:80%;
        height:100%;
    }
      }